@import url("/static/global.css");

nav {
  background-color : var(--main-color);
}

nav ul.right {
    height: 100%;
}

nav ul.right li {
    height: 100%;
}

@media (max-width: 600px) {
  .search-module {
    width: 80vw;
  }
}

@media (min-width: 600px) {
  .search-module {
    width: 50vw;
  }
}
