@import url("/static/global.css");

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding : 0 !important;
  height: 50px;
}

footer a {
  color : inherit;
}

footer.page-footer {
  background-color: var(--main-color);
}

/* to keep the footer at the bottom of the page */

body {
  position: relative;
  min-height: 100vh;
}

#globalContainer {
  padding-bottom: 50px;
}