:root {
  --main-color: #6376ab;
  --second-color: #25459c;

  --s: 0px;
  --m: 600px;
  --l: 992px;
  --xl: 1200px;
}

.clean {
  background-color: transparent;
  box-shadow: none;
}

.breadcrumb {
  color: grey;
  height: 100%;
}

.breadcrumb:before {
  color: grey;
  display: inline;
}

.breadcrumb:last-child {
  color: var(--second-color);
}

.breadcrumb-wrapper {
  white-space: nowrap;
  overflow: hidden;
  direction: rtl;
}
